services:
  - type: web
    name: expense-tracker-api
    env: python
    region: oregon
    plan: free
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: expense-tracker-db
          property: connectionString
      - key: CORS_ORIGINS
        value: http://localhost:5173,http://localhost:3000,https://expense-tracker-liard-mu-63.vercel.app,https://disagreeable-emelia-cantorous.ngrok-free.dev
      - key: SECRET_KEY
        generateValue: true
    healthCheckPath: /

databases:
  - name: expense-tracker-db
    plan: free
    databaseName: expense_tracker
    user: expense_tracker_user
